<!-- <menu-bar></menu-bar> -->

<div class="container">
	<div class="row content">
		<div class="col-sm-4"></div>
		<div class="col-sm-6" ng-controller="LoginController">
			<form role="form" ng-submit="ingresar()">
				<div class="card card-panel">
					<div class="card-header" style="font-size: 14pt; text-align: center;">
						<b>INICIE SESION</b>
					</div>
					<div class="card-block">
						<div class="form-inline">
							<a href="#"><i class="fa fa-user fa-fw"></i></a>
							<input type="text" placeholder="Username" class="form-control" ng-model="user.username" style="width: 90%">
						</div>
						<br>
						<div class="form-inline">
							<a href="#"><i class="fa fa-unlock-alt fa-fw"></i></a>
							<input type="password" placeholder="Password" class="form-control" ng-model="user.password" style="width: 90%">
						</div>
						<br>
						<button type="submit" name="btnLogin" class="btn btn-success btn-block">
							<i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
							INGRESAR
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>